In [1]:
import datetime
import string
import random
import os
os.chdir("C:\\AnalyticsPy\\")

from analyticspy.tools.data_table import DataTable

In [2]:
table_len = 1000

table = DataTable({
    "Integers": [random.randint(10,99) for _ in range(table_len)],
    "Strings": [''.join(random.choices(string.ascii_uppercase + string.digits, k=5)) for _ in range(table_len)],
    "Booleans": [bool(random.getrandbits(1)) for _ in range(table_len)]
})
table.display()

In [3]:
table.insert_column("Floats", [random.random() for _ in range(table_len)])

for row in table:
    row["Multiplication"] = row["Integers"] * row["Floats"]

table.insert_column(
    "Dates",
    [datetime.date.today() - datetime.timedelta(days=i) for i in range(table_len)],
    column_index=0)

table.display()

In [4]:
table._data_map

[['Dates', datetime.date],
 ['Integers', int],
 ['Strings', str],
 ['Booleans', bool],
 ['Floats', float],
 ['Multiplication', float]]

In [5]:
table.create_dummies("Booleans", False)
table.display()

In [6]:
print(table)

DataTable(shape=8x1000,bytesize=300401)
Dates: date
Integers: int
Strings: str
Booleans: bool
BooleansFalse: int
BooleansTrue: int
Floats: float
Multiplication: float

In [7]:
import analyticspy.tools.data_flow as atdf
from analyticspy import APP_PATH

atdf.table_to_parquet(table, "TestDataTable", APP_PATH + "\\tests\\")

In [8]:
table = atdf.table_from_parquet("TestDataTable", APP_PATH + "\\tests\\")
table.display()

In [9]:
table_part_one = table.copy
table_part_one.filter(lambda row: row["Integers"] > 50)
table_part_one.display()

In [10]:
table_part_two = table.copy
table_part_two.filter(lambda row: row["Integers"] <= 50)
table_part_two.display()

In [11]:
table_part_one.concatenate(table_part_two, ["Dates", "Floats", "Strings"], ["Dates", "Multiplication", "Strings"])
table_part_one.sort(["Dates"])
table_part_one.display()

In [12]:
table_to_join = DataTable({
    "Dates": [datetime.date.today() - datetime.timedelta(days=i) for i in range(table_len//2)],
    "RegistredValues": [round(random.random()*100,4) for _ in range(table_len//2)]
})
table_to_join.display()

In [13]:
table.join(table_to_join, "Dates", "Dates")
table.display()

In [14]:
from statistics import mean, stdev

mu = mean(table["Multiplication"])
sigma = stdev(table["Multiplication"])

table.apply("Multiplication", lambda row: round((row-mu)/sigma, 4))

In [15]:
table.display()